@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: contents;
}

main {
    display: flex;
}

body {
    padding: 1rem;
    font-size: 2rem;
    text-transform: lowercase;
    color: #3E3A2E;
    display: flex;
    margin: 0;
    flex-grow: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 2fr));
    grid-template-rows: auto;
    grid-gap: 3.2rem;
    column-gap: 0.88rem;
    row-gap: 0.8rem;
}

section {
    display: inline-block;
    /* width: 10vw;
    height: 100vh; */
}

.opening {
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
    padding: 0.35em;
    text-align: left;
    font-size: 3rem;
    cursor: default;
}

.opening-title {
    padding: 0;
    margin: 0;
    font-size: 3rem;
}

.opening-text {
    font-size: 1rem;
    margin-top: 1em;
    grid-column-start: 1;
    grid-column-end: 3;
}

.mobile-opening-text {
    opacity: 0;
    display: none;
}

h1 {
    color: #3E3A2E;
}

p {
    font-size: 1rem;
    color: #3E3A2E;
}

ul {
    margin-left: 0.5em;
    margin-bottom: 0.45em;
    color: #3E3A2E;
    text-transform: lowercase;
    font-size: 2rem;
}

li {
    font-size: 1.5rem;
    color: #3E3A2E;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}

details>summary {
    padding-left: 0;
    list-style: none;
    color: #3E3A2E;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

details>summary::marker,
details>summary::-webkit-details-marker {
    display: none;
}

summary:hover {
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
}

.button-wrapper {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    margin-top: 1rem;
}

button {
    background-color: transparent;
    border: none;
    color: none;
    padding: 0;
    margin: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #3E3A2E;
    text-transform: lowercase;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
}

.filters-container {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.filters {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.filter-show {
    display: block;
}

.filter-hide {
    display: none;
}

a:link {
    text-decoration: none;
    color: #3E3A2E;
}

a:visited {
    text-decoration: none;
    color: #3E3A2E;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.content-container {
    margin: 0.8rem;
    display: grid;
    justify-content: center;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}

img {
    width: 50vw;
    height: 50vh;
    text-align: center;
    object-fit: contain;
    display: flex;
}

.airtable-item--image {
    width: 80vw;
    height: 80vh;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    transition: 1000ms ease;
}

.airtable-item--image:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.footer {
    padding-bottom: 1%;
    font-size: 1.5rem;
}

/* Smoke Animation */
.smoked {
    margin: 0;
}

.smoked span.active {
    animation: smoked 2s linear forwards;
}

@keyframes smoked {
    0% {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0) translateY(0) rotate(0deg) scale(1);
    }

    50% {
        opacity: 0.3;
        pointer-events: none;
    }

    100% {
        opacity: 0;
        filter: blur(30px);
        transform: translateX(300px) translateY(-300px) rotate(360deg) scale(5);
    }
}

@media screen and (max-width: 950px) {
    h1 {
        font-size: 3.3rem;
    }

    .filter-btn {
        font-size: 1.2rem;
    }

    .opening-text {
        display: none;
    }
}

@media screen and (max-width: 930px) {
    body {
        box-sizing: border-box;
        margin: 0;
        padding: 1rem;
        font-size: 1rem;
        text-transform: lowercase;
        color: #3E3A2E;
        display: flex;
        position: relative;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: repeat(1, minmax(0, 1fr));
        grid-gap: 0;
        column-gap: 0;
        row-gap: 0;
    }

    .button-wrapper {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .mobile-opening-text {
        opacity: 1;
        display: block;
        color: #3E3A2E;
        text-transform: lowercase;
        font-size: 2.5rem;

    }

    .filter-btn {
        font-size: 1.2rem;
    }

    .opening-text {
        width: 70vw;
        display: inline-block;
    }

    .airtable-item--image {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        display: inline-block;
    }

    .content-container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        position: relative;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .footer {
        position: relative;
        top: 80%;
        flex-grow: 0;
        flex-shrink: 0;
        padding-bottom: 1%;
    }
}