@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

body {
    padding: 1rem;
    font-size: 3rem;
    text-transform: lowercase;
    color: #3E3A2E;
    display: flex;
    margin: 0;
}

.opening-title {
    column-fill: 2;
    column-span: 2;
    padding: 0;
    margin: 0;
    width: 18vw;
}

a:link {
    text-decoration: none;
    color: #3E3A2E;
}

a:visited {
    text-decoration: none;
    color: #3E3A2E;
}

a:hover {
    text-decoration: none;
    color: #3E3A2E;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    transition: filter 0.25s linear;
}

a:active {
    text-decoration: none;
    color: #3E3A2E;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    transition: filter 0.25s linear;
}

#space:hover {
    letter-spacing: 0.2em;
    opacity: 0;
    transition: ease 2s;
    display: none;
}

/* Smoke Animation */
.smoked {
    margin: 0;
}

.smoked span {
    cursor: pointer;
}

.smoked span.active {
    animation: smokeLetters 2s linear forwards;
}

@keyframes smokeLetters {
    0% {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0) translateY(0) rotate(0deg) scale(1);
    }

    50% {
        opacity: 0.3;
        pointer-events: none;
    }

    100% {
        opacity: 0;
        filter: blur(30px);
        transform: translateX(300px) translateY(-300px) rotate(360deg) scale(5);
    }
}

@media screen and (max-width: 500px) {
    html {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    h1 {
        font-size: 2.5rem;
    }

    /* .opening-title {
        opacity: 0;
        display: none;
    }

    #space:hover {
        letter-spacing: 0.2em;
        opacity: 50%;
        transition: ease 2s;
        display: block;
    } */
}